/* Default styles for small screens (mobile-first) */
body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
header,
nav,
section,
article,
aside,
footer,
hgroup {
  display: block;
}

a {
  text-decoration: none !important;
}
.header-area {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 100px;
}
.header-area .main-nav {
  min-height: 80px;
  background: transparent;
}

.header-area .main-nav .logo {
  line-height: 80px;
  color: black;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: left;
  background: transparent;
}
.header-area header-sticky {
  min-height: 80px;
  background: transparent;
}
.header-area.header-sticky .nav {
  margin-top: 20px !important;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.header-area .main-nav .nav {
  float: left;
  margin-top: 27px;
  margin-left: 15%;
  margin-right: 0px;
  background-color: #fff;
  position: relative;
  z-index: 999;
}
.header-area .main-nav .nav li {
  padding-left: 20px;
  padding-right: 20px;
}

.header-area.header-sticky .nav li a.active {
  color: #fba70b;
}
header,
nav,
section,
article,
aside,
footer,
hgroup {
  display: block;
}

.container-landing {
  bottom: 0;
  min-height: 100%;
}

.main-area {
  width: 100%;
  height: 100vh;
  background-image: url(../public/images/welcome-area-bg.png);
  background-repeat: no-repeat;
  background-position: right top;
  padding-right: 0;
  padding-bottom: 10px;
  min-height: 793px;
}
.welcome-area {
  width: 100%;
}
.welcome-area .header-text .left-text {
  position: relative;
  align-self: center;
  margin-top: 35%;
  transform: perspective(1px) translateY(-30%) !important;
}
.welcome-area .header-text h1 {
  font-weight: 900;
  font-size: 52px;
  line-height: 80px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  color: #191a20;
}
.welcome-area .header-text h1 em {
  font-style: normal;
  color: #fba70b;
}

/* Small screens (e.g., tablets) */
@media (max-width: 810px) {
  body {
    font-size: 16px;
  }
  .welcome-area {
    padding-top: 350px;
  }

  .main-area {
    background-size: contain;
  }
}

/* Small screens (e.g., tablets) */
@media (max-width: 1140px) {
  body {
    font-size: 16px;
  }
  .welcome-area {
    padding-top: 350px;
  }

  .main-area {
    height: auto;
  }
}

@media (max-width: 1320px) {
  .welcome-area .header-text .left-text {
    margin-top: 50%;
  }
}
